.descriptive-picture {
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    position:relative;
    text-align: center;
    font-family: "Roboto Slab";
}

.descriptive-picture p {
    font-style: italic;
}
.descriptive-picture img {
    width: 50%;
}