.descriptive-picture {
    width: 80%;
    left: 10%;
    position:relative;
    text-align: center;
    font-family: "Roboto Slab";
}

.descriptive-picture p {
    font-style: italic;
}
.descriptive-picture img {
    width: 50%;
}