footer {
    background-color:black;
    color:white;
    width:100%;
    position: relative;
    text-align: center;
}

footer #links{
    position:absolute;
    display:flex;
    top: 60%;
    left: 90%;
    transform: translate(-50%, -50%);
}

footer #links a img{
    width: 15%;
}