footer {
    background-color:black;
    color:white;
    position:flex;
    width:100%;
    bottom: 0;
}

footer h1 {
    text-align: center;
}

footer #informations {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

footer #informations #links{
    width: 10%;
}

footer #github-logo {
    width: 20%;
}

footer #linkedIn-logo {
    width:19%;
}