header {
    background-color: black;
    color: white;
    padding: 10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header h1{
    margin: 0;
    font-family: "Roboto Slab";
}

header a{
    text-decoration: none;
    color: white;
}

header div {
    width: 6.9%;
}