header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-family: "Roboto Slab";
}

header a {
    text-decoration: none;
    color: white;
}

header div {
    width: 6.9%;
}

header div .links {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
}

header div .links div {
    width: 100%;
}

header div .links div a img {
    width: 30%;
}