body {
    font-family: "Roboto Slab";
    margin: 0;
    padding: 0;
}

.background {
    width:100%;
    position:relative;
    margin: 0;
    padding: 0;
}

.background img {
    width:100%;
}

.background div {
    border-radius: 15%;
    padding: 20px;
    position:absolute;
    left:45%;
    top: 35%;
    border: solid black; 
    background-color: white;
}

.background div:hover {
    background-color: black;
}

.background div a {
    text-decoration: none;
    color:black;
}

.background div:hover a{
    color: white;
}

.about-me {
    width : 100%;
    background-color: black;
    position:relative;
    display:flex;
    align-items:center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me img {
    width: 20%;
    clip-path: circle();
    left: 10%;
    position:relative;
}
.about-me div {
    width: 60%;
    left: 10%;
    position:relative;
}

.about-me div p, .about-me div h1{
    color:white;
    text-justify: inter-character;
    text-align: center;
}

.all-projects {
    position:relative;
    width: 100%;
}

.all-projects .group-of-projects {
    display:flex;
    justify-content: center;
    align-items: center;
}

.all-projects .group-of-projects a {
    text-decoration: none;
    color:black;
    margin: 20px 50px;
    width: 15%;
}

.all-projects .group-of-projects a:hover {
    width: 20%;
}
