body {
    font-family: "Roboto Slab";
    margin: 0;
    padding: 0;
}

.about-me {
    width: 100%;
    background-color: white;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    color: black;
    text-align: center;
}

.about-me div {
    width: 60%;
    position: relative;
    left: 20%;
}

h1 {
    text-decoration: underline;

}

.all-experiences {
    width: 100%;
    background-color: grey;
    position: relative;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    color: white;
    text-align: center;
}

.all-experiences .group-of-experiences {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-projects {
    text-align: center;
    position: relative;
    width: 100%;
    background-color: #222;
    color: white;
}

.all-projects .group-of-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-projects .group-of-projects a {
    text-decoration: none;
    color: black;
    margin: 20px 50px;
    width: 20%;
}

.all-projects .group-of-projects a:hover .panel {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}