.paragraph {
    background-color: #dddddd;
    width: 100%;
    position:relative;
}

.paragraph h1 {
    text-align: center;
    font-family: "Roboto Slab";
}

.paragraph div {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.paragraph div div{
    display: block;
    text-justify: auto;
    text-align: center;
    width: 50%;
    font-family: "Roboto Slab";
}

.paragraph div div img{
    width: 5%;
}

.paragraph a{  
    color: black;
}

.paragraph table,.paragraph th,.paragraph td {
    border: solid black; 
    border-collapse: collapse;
}

.paragraph th,.paragraph td {
    padding: 10px;
}